.container > div.operators{
    display: grid;
    width: 600px;
    height:500px;
    background-color: gray;
    row-gap: 5px;
    

}

.container > div.numbers{
    display: flex;
    flex-direction: column;
}

