.container{

    border: 5px solid #0b0d0fae;
    display: flex;
    height: 100%
        

}
.container > button{
    flex-direction: row;
    flex: 1;
    align-items: stretch;

}
.container > .operators{
    flex-direction: row;
    flex: 1;
    align-items: stretch;

}
.container > .memory-buttons{
    flex-direction: row;
    flex: 1;
    align-items: stretch;

}
.result{

    text-align: center;
    margin-left: 50px;

}