head{

    text-align: center;
}
.numbers{

    text-align: center;
}
.operators{

    text-align: center;
    margin-left: 50px;

}
.memory-buttons{

    text-align: center;
    margin-left: 50px;

}
.result{

    text-align: center;
    margin-left: 50px;

}